/* Reset */
*{
    margin:0;
    padding:0;
}

/* BODY */
body{
    padding-top:20px;
    text-align:center;
    background-image:url("../imgs/old_map.png");
}

/* CONTENEDOR */
#page{
    width:70%;
    margin:0 auto;
    text-align:left;
}

/* HEADER */
header{
    font-family:courier;   /* TIPO DEL PDF */
    color:red;
    font-size:1.1em;
    border-bottom:6px solid black;
}
.mainHeader{ 
    padding: 10px 0px;
    color:white;
    background:#313B44;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainHeader img{
    width: 80px;
    height: 80px;
}

header h1{
    background-image:url("../imgs/foto.png");
    background-repeat:no-repeat;
    background-position:25px center;
    padding:20px 100px;
}

/* NAV */
nav{
    font-family: courier;
    font-size: 1.4em;
    color: silver;
    text-align: center;
    background-image: url("../imgs/red015.jpg");
    padding: 20px 0; /* Espaciado vertical */
}

nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex; /* Hace el menú horizontal */
    justify-content: center; /* Centra los items */
    gap: 50px; /* Espacio entre cada item */
}

nav ul li{
    display: flex;
    flex-direction: column; /* Ícono arriba, texto abajo */
    align-items: center; /* Centra ícono y texto */
    cursor: pointer;
}

nav ul li a{
    color: orangered;
    text-decoration: none;
    margin-top: 10px; /* Separación entre ícono y texto */
    font-weight: bold;
}

/* ICONOS */
#estudios{
    background-image: url("../imgs/conocimientos.png");
    background-repeat: no-repeat;
    background-position: center top;
    width: 50px; /* tamaño del icono */
    height: 50px;
}

#conocimientos{
    background-image: url("../imgs/estudios.png");
    background-repeat: no-repeat;
    background-position: center top;
    width: 50px;
    height: 50px;
}

#contacto{
    background-image: url("../imgs/contacto.png");
    background-repeat: no-repeat;
    background-position: center top;
    width: 50px;
    height: 50px;
}

/* SECTION */
section{
    font-family:verdana;   /* TIPO DEL PDF */
    font-size:0.8em;
    background-image:url("../imgs/lgrey008.jpg");
    width:100%;
    display:flex;
    justify-content: center;
}

/* ARTICLES */
.article{
    width:25%;
    border:1px solid lightgray;
    background:white;
    text-align:center;
    line-height:1.8em;
    padding:5px 5px 22px 5px;
    margin:30px;
    float:left;
}

.article_header{
    border-bottom:1px solid #999999;
}

h2{
    padding:10px;
    font-size:1.2em;
}

/* FOOTER */
footer{
    clear:both;
    color:white;
    font-size:0.7em;
    text-align:center;
    background:#313B44;
    border-top:6px solid black;
    padding:15px 0;
}

footer a{
    color:white;
}

